.box{
    display: flex;
    width: 30%;
    padding: 10px;
}
h4{
   font-size: 10px;
   text-decoration: none;
   color: rgb(83, 81, 81);
   
}
p{
    font-size: 10px;
    width: 80%;
    color: gray;
}
i{
   
    border-style: solid;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%  ;
    border-width: 1px;
    border-color:rgb(218, 204, 204);
    padding: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.icon{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 10px;

}