.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(240, 238, 238);
    margin-top:-8px;
  }
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .li {
    float: left;
  }
  
  .link {
    display: block;
    color: rgb(75, 70, 70);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 10px;
  }
  
  .link:hover {
    background-color:rgb(230, 226, 226);
  }

